<br>
<div class="dropdown clearfix pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    排序
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDiviver">
    <li><%= link_to("按薪金上限排序", jobs_path(:order => 'by_upper_bound')) %></li>
    <li><%= link_to("按薪金下限排序", jobs_path(:order => 'by_lower_bound')) %></li>
    <li><%= link_to("按发布时间排序", jobs_path)%> </li>
  </ul>
</div>
<table class="table table-boldered">
  <thead>
    <tr>
      <th>职位</th>
      <th>薪水</th>
      <th>公司名称</th>
      <th>公司地点</th>
      <th>发布时间</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to(job.title, job_path(job)) %></td>
        <td><span class="label label-success"><%= job.wage_lower_bound %>K-<%= job.wage_upper_bound %>K</span></td>
        <td><%= job.company %><td>
        <td><%= job.location %></td>
        <td><%= job.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
