<br>
<div class="dropdown clearfix pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    排序
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDiviver">
    <li><%= link_to("按薪金上限排序", jobs_path(:order => 'by_upper_bound')) %></li>
    <li><%= link_to("按薪金下限排序", jobs_path(:order => 'by_lower_bound')) %></li>
    <li><%= link_to("按发布时间排序", jobs_path)%> </li>
  </ul>
</div>

<div class="text-center">
  <h1><strong>职位列表</strong></h1>
</div>

<!-- 以下为修改内容，上面两块代码是根据我的网站需要保留的。 -->

<div class="row ">
    <!-- 项目列表 -->
    <div class="col-md-9 job-content">
        <% @jobs.each do |job| %>
          <div class=" job-box">
            <!-- 有职位资料时 -->
            <% if @jobs.length > 0 %>
                <div >
                    <h4><strong><%= link_to(job.title, job_path(job)) %></strong></h4>
                </div>
                <div >
                    <p style="width: 800px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"><%= job.description %></p>
                    <p><%= link_to( "了解详情", job_path(job)) %></p>
                </div>
                <div>
                    <p></p>
                    <p>
                      <sapn class="fa fa-map-marker"></sapn> <%= job.location %>|
                      <span class="label label-success"><%= job.wage_lower_bound %>K</span> - <span class="label label-success"><%= job.wage_upper_bound %>K</span>|
                      <sapn class="fa fa-calendar"></sapn> <%= formatDate(job.created_at) %>|
                      <sapn class="fa fa-tags">Tags : <span class="label label-info"><%= job.company %></span>
                     <a href="#"><span class="label label-success"><%= job.category_name %></span></a>
                </p>
            </div>

        <% else %>
        <!-- 没有职位资料 -->
            <div >
                <h2>此分类暂时没有招聘职位哦，请尝试其他选项。</h2>
            </div>
        <% end %>  <!--结束判断 -->
      </div> <!--结束@jobs循环-->
    <% end %>
</div>

<!-- 职位推荐 -->
<div class="col-md-3 side-box">
  <div class="row">
      <div class="col-md-12 suggest-title">
        <h3><sapn class="fa fa-tags"></sapn> <strong>职位推荐</strong></h3>
      </div>
      <div>
          <% @suggests.each do |job| %>
              <div class="col-xs-10 col-xs-offset-1 suggest-content">
                  <div>
                    <h4>
                      <%= link_to job_path(job), target: "_blank" do %>
                          <%= job.title %> [<%= job.location %>]
                      <% end %>
                    </h4>
                  </div>
                  <div>
                    <p>招募职位：<%= job.category_name %></p>
                  </div>
                  <div>
                    <p>团队名称：<%= job.company %></p>
                  </div>
              </div>
          <% end %> <!-- 结束@suggests循环 -->
      </div>
  </div>
</div>
</div>
<br><br>
<div class="text-center">
      <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
</div>
