<div class="search-result">
<% if @jobs.length > 0 %>
  <table class="table table-hover table-boldered table-striped custab">
    <thead>
      <tr>
        <th>职位名称</th>
        <th>工作类型</th>
        <th>工资</th>
        <th>公司名称</th>
        <th>公司地点</th>
        <th>发布时间</th>

        <th>立即申请</th>

      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><i class="fa fa-briefcase" aria-hidden="true"></i> <%= link_to(job.title, job_path(job)) %></td>
          <td><i class="fa fa-list-alt" aria-hidden="true"></i> <%= job.category %> </td>
          <td><i class="fa fa-money" aria-hidden="true"></i> <span class="label label-success"><%= job.wage_lower_bound %>K - <%= job.wage_upper_bound %>K</span></td>
          <td><i class="fa fa-building" aria-hidden="true"></i> <%= link_to(job.company, '/jobs/search?utf8=✓&q=' + job.company) %></td>
          <td><span class="fa fa-map-marker"></span> <%= job.location %></td>
          <td><i class="fa fa-calendar" aria-hidden="true"></i> <%= formatDate(job.created_at) %></td>
          
            <td><%= render 'job_apply', :job => job %></td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails  %>
  </div>

<% else %>
  <br><br>
  <br><br>
  <h4 class="text-center">没有相关职位，尝试搜索其他的关键字</h4>
  <br><br>
  <div class="text-center">
    <a class="btn btn-lg btn-info" href="/jobs">浏览职位</a>
  </div>
<% end %>
</div>
