
<div class="col-md-12 show">
  <br>
  <p class="company_name"><%= link_to(@job.company, '/jobs/search?utf8=✓&q=' + @job.company) %></p>
  <h2 class="job_title"><%= @job.title %></h2>

  <p class="info">
    <span class="salary"> <span class="label label-success"><%= @job.wage_lower_bound %>K</span> - <span class="label label-success"><%= @job.wage_upper_bound %>K</span> </span>
    <span>|</span>
    <span><span class="fa fa-map-marker"></span><%= @job.location%></span>
    <span>|</span>
    <span><span class="fa fa-calendar"></span><%= formatDate(@job.created_at) %> 发布</span>
    <span>
      <% if current_user && current_user.is_member_of?(@job) %>
        <i class="fa fa-heart" aria-hidden="true"></i>
        <%= link_to("取消收藏", quit_job_path(@job), method: :post, class: "btn btn-sm btn-default") %>
      <% else %>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <%= link_to("收藏职位", join_job_path(@job), method: :post, class: "btn btn-sm btn-default") %>
      <% end %>
    </span>
  </p>

  <p class="send-resume">
    <%= render 'job_apply', :job => @job %>
  </p>

  <hr>

  <p class="description-title"><strong>职位详情：</strong></p>
  <p class="description">
    <%= render_job_description(@job) %>
  </p>
</div>
