<!DOCTYPE html>
<html>
  <head>
    <title>DreamOffer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://unpkg.com/element-ui/lib/theme-default/index.css' %>
    <link rel="shortcut icon" href='/images/favoicon.ico'>
  </head>

  <body>
    <div class="content" >
        <div class="row">
          <%= render "common/navbar" %>
        </div>
        <% if current_page?('/') %>
          <div>
        <% else %>
          <div class="container-fluid wrapper-container container">
          <%= render "common/flashes" %>
        <% end %>
          <%= yield %>
        </div>
      <%= render 'common/footer' %>
      </div>
  </div>
  </body>
</html>
